body {
    font-family: 'Roboto'
}

.regions-buttons, .category-buttons, .select-countries {
    display: flex;
    justify-content: center;
}

h1, h2, h3 {
    text-align: center;
    color: #4A403A;
}

h2 {
    color: #864e4e;
    margin: 0 auto;
}

button {
    margin: 8px;
}



 button{
    all: unset;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: #EFEFEF ;

}

button:hover{
    filter: brightness(90%);

}



.regions-buttons button{
    background-color: #FFC069;

}


select {
    margin-top: 10px;
    display: none;
}

#main-chart {
    margin-left: 10%;
    margin-right: 10%;
}


.country-data {
    display: none;
    justify-content: space-around;
    margin-top: 2rem;
}

.country-data div {
    font-weight: bolder;
    width: 12%;
    padding: 0.5rem;
    background-color: #EFEFEF;
    border-radius: 5px;
}


.display-none {
    display: none;
}



.chart {
    display: none;
}

